
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}


.main {
  width: 320px;
  padding: 25px;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main h2 {
  text-align: center;
  margin-bottom: 20px;
}

.main label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.main input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}

.main button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

.main button:hover {
  background-color: #0056b3;
}


.main p {
  text-align: center;
  margin-top: 15px;
}

.main a {
  text-decoration: none;
  color: #007bff;
}

.main a:hover {
  text-decoration: underline;
}
